.experience-item {
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 15px 25px -10px rgba(31, 31, 70, 0.2);
  text-align: center;
}

.experience-item h3 {
  color: #1F1F46;
  margin-bottom: 1rem;
}

.experience-item p {
  color: #62627B;
  line-height: 1.8;
}
.animation {
  display: flex; /* Assurez-vous que le carrousel s'affiche correctement */
  justify-content: center;
  align-items: center;
}


