<section class="section gradient3 reveal" id="formations">
  <div class="ripple-background">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle medium shade4"></div>
    <div class="circle small shade5"></div>
  </div>
  <h2 style="margin-top: 60px;margin-left: 20px; font-size: 2em">Mes Formations</h2>
  <div class="steps">
    <div class="step" *ngFor="let step of steps; let i = index" [class.minimized]="currentStep !== i">
      <div class="step-header" (click)="toggleStep(i)">
        <div class="header">{{ step.header }}</div>
        <div class="subheader">{{ step.subheader }}</div>
      </div>
      <div class="step-content" [ngClass]="step.class" *ngIf="currentStep === i">
        <!-- Image de l'étape -->
        <img [src]="step.image" class="step-image" alt="Step {{i+1}} Image">

        <!-- Flèche vers le bas cliquable pour l'étape suivante -->
        <div class="arrow-down" *ngIf="i < steps.length - 1" (click)="nextStep()"></div>

        <!-- Bouton "Fermer" pour la dernière étape -->
        <button *ngIf="i === steps.length - 1" class="close-btn" (click)="closeStepper()">Fermer</button>
      </div>
    </div>
  </div>
</section>
