<section class="section gradient1 reveal" id="home">
  <div class="container">
    <div class="left">
      <h1><mark>Julia Ricchi</mark></h1>
      <h3>Recherche un stage du 2 mai au 29 juin 2025</h3>
      <p><b>Développeuse FullStack</b></p>
    </div>
    <div class="right">
      <div class="color-box" id="box1"></div>
      <img src="assets/images/FE102687-8A87-40DE-B12D-7E82E168DB72.png" alt="Photo 2">
      <img src="assets/images/IMG_2398.png" alt="Photo 3">
      <div class="color-box" id="box2"></div>
    </div>
  </div>
  <div class="mouse-icon">
    <div class="mouse"></div>
    <span class="arrow arrow-01"></span>
    <span class="arrow arrow-02"></span>
    <span class="arrow arrow-03"></span>
  </div>
</section>
