<section class="section gradient6 reveal" id="contact">
  <div class="contact-container">
  <div class="contact-form">
    <h2>Contactez-moi</h2>
    <form ngNoForm action="https://formspree.io/f/xqakzbrk" method="POST">
      <label for="email">
        Votre email:
        <input id="email" type="email" name="email" required autocomplete="email">
      </label>
      <label for="message">
        Votre message:
        <textarea id="message" name="message" required autocomplete="off"></textarea>
      </label>
      <button type="submit">Envoyer</button>
    </form>
  </div>
  <div class="extra-info">
    <h2>Informations supplémentaires</h2>
    <p>Téléchargez mon CV pour plus de détails sur mon parcours professionnel et mes compétences.</p>
    <a href="assets/documents/MonCV.pdf" download>
      <button>Télécharger mon CV</button>
    </a>
  </div>
  </div>
</section>
