.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}

.skill h4 {
  color: #1F1F46;
  margin-bottom: 0.5rem;
}

.p-progressbar {
  height: 1.5rem;
  border-radius: 4px;
}
